<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteMapa.Master.cs" Inherits="GwCentral.SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<!-- BEGIN: Head-->
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code." />
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard" />
    <meta name="author" content="INFORTRONICS" />

    <asp:PlaceHolder ID="PlaceHolder1" runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
        <%: Scripts.Render("~/Scripts/idioma.js") %>
    </asp:PlaceHolder>
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />

    <title><%= Page.Title %> - I N T E R S E C</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet" />

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/chartist.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/chartist-plugin-tooltip.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/toggle/switchery.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/toggle/switchery.min.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/forms/switch.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/icheck/custom.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/sweetalert.css" />
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/components.css" />
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu-modern.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/chat-application.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/dashboard-analytics.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/forms/checkboxes-radios.min.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/simple-line-icons/style.min.css"/>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <!-- END: Custom CSS-->
    <link href="/app-assets/vendors/css/forms/toggle/switchery.css" rel="stylesheet" />
    <link href="/app-assets/vendors/css/forms/toggle/switchery.min.css" rel="stylesheet" />
    <%--<link rel="stylesheet" type="text/css" href="switchery.min.css"/>--%>
</head>
<!-- END: Head-->


<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-color="bg-gradient-x-purple-red" data-col="2-columns">

    <form id="form1" runat="server">
        <asp:ScriptManager ID="ToolkitScriptManager1" runat="server" EnableScriptGlobalization="true" EnablePageMethods="true">
            <Scripts>
                <asp:ScriptReference Name="WebForms.js" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
            </Scripts>
        </asp:ScriptManager>

        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="False" />

        <!-- BEGIN: Header-->
        <nav id="navMenu" class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark">
            <div class="navbar-wrapper">
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse show" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                            <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>

                            <li class="nav-item dropdown navbar-search" style="display: none;"><a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><i class="ficon ft-search"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="arrow_box">
                                        <form>
                                            <div class="input-group search-box">
                                                <div class="position-relative has-icon-right full-width">
                                                    <input class="form-control" id="search" type="text" placeholder="Procurar...">
                                                    <div class="form-control-position navbar-search-close"><i class="ft-x"></i></div>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li id="liTitulo" class="nav-item dropdown">
                                <div class="content-wrapper-before"></div>
                                <div id="div_Margin_Titulo" style="margin-top: 19px; margin-left: 4px;">
                                    <div id="div_Conteudo_Titulo" class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new" style="display: contents;">
                                        <h3 class="content-header-title mb-0 d-inline-block" style="color: white; font-size: 18px; border-right: 0px;">
                                            <asp:ContentPlaceHolder runat="server" ID="FeaturedContent" />
                                        </h3>
                                        <div class="breadcrumbs-top d-inline-block" style="display: none !important;">
                                            <div class="breadcrumb-wrapper mr-1">
                                                <asp:ContentPlaceHolder runat="server" ID="FeaturedContent2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-br"></i><span class="selected-language"></span></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-flag">
                                    <div class="arrow_box_right">
                                        <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-br"></i>Português</a>
                                        <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i>Espanhol</a>

                                    </div>
                                </div>
                            </li>

                            <%--<li class="dropdown dropdown-notification nav-item">
                                <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
                                    <i class="ficon ft-bell bell-shake" id="notification-navbar-link"></i>
                                    <span class="badge badge-pill badge-sm badge-info badge-up badge-glow">5</span></a>

                                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                    <div class="arrow_box_right">
                                        <li class="dropdown-menu-header">
                                            <h6 class="dropdown-header m-0"><span class="grey darken-2">Notificações</span></h6>
                                        </li>
                                        <li class="scrollable-container media-list w-100">
                                              <div class="media">
                                                <div class="media-body">
                                                    <p class="notification-text font-small-3 text-muted" style="text-align:center;">Nenhuma notificação!</p>
                                                   
                                                </div>
                                            </div>

                                        </li>
                                        <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Mostrar tudo</a></li>
                                    </div>
                                </ul>
                            </li>--%>


                            <asp:LoginView ID="LoginView2" runat="server" ViewStateMode="Disabled">
                                <AnonymousTemplate>
                                </AnonymousTemplate>
                                <LoggedInTemplate>
                                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar avatar-online">
                                        <img runat="server" src="~/app-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i></span></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="arrow_box_right">
                                                <a class="dropdown-item" href="#">
                                                    <table>
                                                        <tr>
                                                            <td class="avatar avatar-online">
                                                                <img runat="server" src="~/app-assets/images/portrait/small/avatar-s-19.png" alt="avatar" />
                                                            </td>

                                                            <td>
                                                                <asp:LoginName ID="LoginName1" runat="server" class="user-name text-bold-700 ml-1" />
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" runat="server" href="~\Admin\UserChangePass\Default.aspx"><i class="ft-user"></i>Editar Perfil</a>

                                                <asp:LoginStatus ID="LoginStatus1" runat="server" class="ft-power dropdown-item" Style="font-family: Comfortaa, feather, cursive, Times New Roman, Times, serif !important;" LogoutAction="Redirect" LogoutPageUrl="~/" LogoutText="&nbsp;&nbsp;Logout" OnLoggingOut="LoginStatus1_LoggingOut" />
                                            </div>
                                        </div>
                                    </li>

                                </LoggedInTemplate>
                            </asp:LoginView>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END: Header-->


        <!-- BEGIN: Main Menu-->
        <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" data-img="" style="background-color: white;">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row position-relative">
                    <li class="nav-item mr-auto"><a class="navbar-brand" href="#">
                        <img class="brand-logo" alt="Intersect logo" runat="server" src="~/app-assets/images/logo/logo.png" />
                        <h3 class="brand-text" style="font-family: monospace; font-size: 25px; letter-spacing: 3px;">INTERSEC</h3>
                    </a>
                    </li>
                    <li class="nav-item d-none d-md-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon ft-disc font-medium-3" data-ticon="ft-disc"></i></a></li>
                    <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
                </ul>
            </div>
            <div class="navigation-background"></div>
            <div class="main-menu-content">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                </ul>
            </div>
        </div>
        <!-- END: Main Menu-->

        <!-- BEGIN: Content-->
        <div class="app-content content  container-fluid" style="min-height: -webkit-calc(100%);min-height: -moz-calc(100%);min-height: calc(100%);">
            <div class="content-wrapper">
                <div id="divTitulo_Mobile" style="display:none;">
                      <div class="content-wrapper-before"></div>
                    <div class="content-header row">
                        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                            <h3 class="content-header-title mb-0 d-inline-block">teste</h3>

                        </div>

                    </div>
                </div>
              
                <div id="divLoading" style="z-index: 99; display: none;">
                                <div style="background-color: rgba(132, 132, 132, 0.53); position: fixed; width: 100%; top: 0px; height: 100%; transition: background-color .1s; left: 0px; right:0px; z-index:1;">
                                    <div style="width: 100%;text-align: center; z-index: 10; height: 55%; position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0;">
                                        <%--<div class="loading"><%= Resources.Resource.aguarde %> ...</div>--%>

                                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_SDVHP8.json" background="transparent" speed="1"  loop autoplay>
                </lottie-player>
                                    </div>
                                </div>
                            </div>

                <div class="content-body">
                    
                            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                                <div class="row">
                                </div>
                            </asp:ContentPlaceHolder>
               
                    <!-- Revenue, Hit Rate & Deals -->
                    <%--   <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Project Revenue</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <button type="button" class="btn btn-glow btn-round btn-bg-gradient-x-red-pink">More</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body p-0 pb-0">
                                        <div class="chartist">
                                            <div id="project-stats" class="height-350 areaGradientShadow1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card pull-up">
                                        <div class="card-header">
                                            <h4 class="card-title float-left">Project X</h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                            <span class="badge badge-pill badge-info float-right m-0">In Progress</span>
                                        </div>
                                        <div class="card-content collapse show">
                                            <div class="card-body pt-0 pb-1">
                                                <h6 class="text-muted font-small-3">Completed Task : 4/10</h6>
                                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                    <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="media d-flex">
                                                    <div class="align-self-center">
                                                        <h6 class="text-bold-600 mt-2">Client: <span class="info">Xeon Inc.</span></h6>
                                                        <h6 class="text-bold-600 mt-1">Deadline: <span class="blue-grey">5th June, 2018</span></h6>
                                                    </div>
                                                    <div class="media-body text-right mt-2">
                                                        <ul class="list-unstyled users-list">
                                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                                <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                                                            </li>
                                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                                <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-18.png" alt="Avatar">
                                                            </li>
                                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joseph Weaver" class="avatar avatar-sm pull-up">
                                                                <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card pull-up bg-gradient-directional-danger">
                                        <div class="card-header bg-hexagons-danger">
                                            <h4 class="card-title white">Analytics</h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li>
                                                        <a class="btn btn-sm btn-white danger box-shadow-1 round btn-min-width pull-right" href="#" target="_blank">Report <i class="ft-bar-chart pl-1"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-content collapse show bg-hexagons-danger">
                                            <div class="card-body">
                                                <div class="media d-flex">
                                                    <div class="align-self-center width-100">
                                                        <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                                                    </div>
                                                    <div class="media-body text-right mt-1">
                                                        <h3 class="font-large-2 white">12,515</h3>
                                                        <h6 class="mt-1"><span class="text-muted white">Analytics in the <a href="#" class="darken-2 white">last year.</a></span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>--%>
                    <!--/ Revenue, Hit Rate & Deals -->
                    <!-- Emails Products & Avg Deals -->
                    <%--<div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="card">
                                <div class="card-header p-1">
                                    <h4 class="card-title float-left">Project X - <span class="blue-grey lighten-2 font-small-3 mb-0">24 DEC 2017 - 09 APR 2019</span></h4>
                                    <span class="badge badge-pill badge-info float-right m-0">Approved</span>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-footer text-center p-1">
                                        <div class="row">
                                            <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                                <p class="blue-grey lighten-2 mb-0">Tasks</p>
                                                <p class="font-medium-5 text-bold-400">26</p>
                                            </div>
                                            <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                                <p class="blue-grey lighten-2 mb-0">Completed</p>
                                                <p class="font-medium-5 text-bold-400">58%</p>
                                            </div>
                                            <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                                <p class="blue-grey lighten-2 mb-0">Pending</p>
                                                <p class="font-medium-5 text-bold-400">42%</p>
                                            </div>
                                            <div class="col-md-3 col-12 text-center">
                                                <p class="blue-grey lighten-2 mb-0">Version</p>
                                                <p class="font-medium-5 text-bold-400">4.5</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <span class="text-muted"><a href="#" class="danger darken-2">Project X</a> Statistics</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="card pull-up border-top-info border-top-3 rounded-0">
                                <div class="card-header">
                                    <h4 class="card-title">New Clients <span class="badge badge-pill badge-info float-right m-0">5+</span></h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body p-1">
                                        <h4 class="font-large-1 text-bold-400">18.5% <i class="ft-users float-right"></i></h4>
                                    </div>
                                    <div class="card-footer p-1">
                                        <span class="text-muted"><i class="la la-arrow-circle-o-up info"></i>23.67% increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>--%>
                    <!--/ Emails Products & Avg Deals -->
                    <!-- Chat and Recent Projects -->
                    <%-- <div class="row match-height">
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="card card-transparent">
                                <div class="card-header bg-transparent pl-0">
                                    <h5 class="card-title text-bold-700">Project Income</h5>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                </div>
                                <div class="card-content">
                                    <div id="project-income-chart" class="height-450 BarChartShadow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-md-12">
                            <h5 class="card-title text-bold-700 my-2">Recent Projects</h5>
                            <div class="card">
                                <div class="card-content">
                                    <div id="recent-projects" class="media-list position-relative">
                                        <div class="table-responsive">
                                            <table class="table table-padded table-xl mb-0" id="recent-project-table">
                                                <thead>
                                                    <tr>
                                                        <th class="border-top-0">Project Name</th>
                                                        <th class="border-top-0">Assigned to</th>
                                                        <th class="border-top-0">Deadline</th>
                                                        <th class="border-top-0">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-truncate align-middle">
                                                            <a href="#">X Admin</a>
                                                        </td>
                                                        <td class="text-truncate">
                                                            <ul class="list-unstyled users-list m-0">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-18.png" alt="Avatar">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joseph Weaver" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                                                                </li>
                                                                <li class="avatar avatar-sm">
                                                                    <span class="badge badge-info">+2 more</span>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-truncate pb-0">
                                                            <span>15th July, 2018</span>
                                                            <p class="font-small-2 text-muted">1 day left</p>
                                                        </td>
                                                        <td>
                                                            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                                <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-truncate align-middle">
                                                            <a href="#">Analytics UI</a>
                                                        </td>
                                                        <td class="text-truncate">
                                                            <ul class="list-unstyled users-list m-0">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-14.png" alt="Avatar">
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-truncate pb-0">
                                                            <span>26th May, 2018</span>
                                                            <p class="font-small-2 text-muted danger">behind</p>
                                                        </td>
                                                        <td>
                                                            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                                <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-truncate align-middle">
                                                            <a href="#">Traveltrip</a>
                                                        </td>
                                                        <td class="text-truncate">
                                                            <ul class="list-unstyled users-list m-0">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-truncate pb-0">
                                                            <span>23rd May, 2018</span>
                                                            <p class="font-small-2 text-muted">in 11 Days</p>
                                                        </td>
                                                        <td>
                                                            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                                <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-truncate align-middle">
                                                            <a href="#">Apex Angular</a>
                                                        </td>
                                                        <td class="text-truncate">
                                                            <ul class="list-unstyled users-list m-0">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-18.png" alt="Avatar">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joseph Weaver" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                                                                </li>
                                                                <li class="avatar avatar-sm">
                                                                    <span class="badge badge-info">+1 more</span>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-truncate pb-0">
                                                            <span>13th May, 2018</span>
                                                            <p class="font-small-2 text-muted">1 month</p>
                                                        </td>
                                                        <td>
                                                            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                                <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-truncate align-middle">
                                                            <a href="#">Chameleon Admin</a>
                                                        </td>
                                                        <td class="text-truncate">
                                                            <ul class="list-unstyled users-list m-0">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-11.png" alt="Avatar">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                                    <img class="media-object rounded-circle" src="app-assets/images/portrait/small/avatar-s-12.png" alt="Avatar">
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td class="text-truncate pb-0">
                                                            <span>18th July, 2018</span>
                                                            <p class="font-small-2 text-muted danger">behind</p>
                                                        </td>
                                                        <td>
                                                            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                                <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>--%>
                    <!--/ Products sell and New Orders -->
                    <!-- Total earning & Recent Sales  -->
                    <%-- <div class="row mt-1">
                        <div class="col-md-12 col-lg-6 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">New Projects</h4>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i>
                                    </a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <a data-action="reload">
                                                    <i class="ft-rotate-cw"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content mt-1">
                                    <div id="new-projects" class="height-400 GradientlineShadow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Chat</h4>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i>
                                    </a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <a data-action="reload">
                                                    <i class="ft-rotate-cw"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body chat-application">
                                        <div class="chats height-300">
                                            <div class="chats">
                                                <div class="chat">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-19.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>How can we help? We're here for you!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat chat-left">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-15.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>Hey Jacob, Could you please help me to find it out?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-19.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>Absolutely!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat chat-left">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-15.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>I am looking for the best Angular admin template.</p>
                                                            <p>It should be Bootstrap 4 compatible.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-19.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>Crest admin is the responsive Angular 5 bootstrap 4 admin template.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat chat-left">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-15.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>Looks clean and fresh UI.</p>
                                                        </div>
                                                        <div class="chat-content">
                                                            <p>It's perfect for my next project.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-19.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>Thanks a lot!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat chat-left">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-15.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>How can I purchase it?</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-19.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>From Wrapbootstrap.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat chat-left">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-15.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>I will purchase it for sure.</p>
                                                        </div>
                                                        <div class="chat-content">
                                                            <p>Thanks.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat">
                                                    <div class="chat-avatar">
                                                        <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                            <img src="app-assets/images/portrait/small/avatar-s-19.jpg" alt="avatar" />
                                                        </a>
                                                    </div>
                                                    <div class="chat-body">
                                                        <div class="chat-content">
                                                            <p>Great!!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="chat-app-input mt-1 row">
                                            <div class="col-12">
                                                <fieldset>
                                                    <div class="input-group position-relative has-icon-left">
                                                        <div class="form-control-position">
                                                            <span id="basic-addon3"><i class="ft-image"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Send message" aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" type="button">Send</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>--%>
                    <!--/ Total earning & Recent Sales  -->
                </div>
            </div>
        </div>
        <!-- END: Content-->


        <!-- BEGIN: Footer-->
        <%--<footer class="footer footer-static footer-light navbar-border navbar-shadow">
            <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
                <span class="float-md-left d-block d-md-inline-block"><a class="text-bold-800 grey darken-2" href="http://www.infortronics.com.br/" target="_blank" style="color: black;">INFORTRONICS</a></span>
            </div>
        </footer>--%>
        <!-- END: Footer-->


        <!-- BEGIN: Vendor JS-->
        <script src="/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
        <script src="/app-assets/vendors/js/forms/toggle/switchery.js"></script>
        <script src="/app-assets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>
        <!-- BEGIN Vendor JS-->

        <!-- BEGIN: Page Vendor JS-->
        <script src="/app-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
        <script src="/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js" type="text/javascript"></script>
        <script src="/app-assets/vendors/js/extensions/sweetalert2.all.js" type="text/javascript"></script>
        <script src="/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
        <script src="/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
        <!-- END: Page Vendor JS-->

        <!-- BEGIN: Page Vendor switch-->
        <script src="/app-assets/js/scripts/forms/switch.js"></script>
        <!-- END: Page Vendor switch-->

        <!-- BEGIN: Theme JS-->
        <script src="/app-assets/js/core/app-menu.js" type="text/javascript"></script>
        <script src="/app-assets/js/core/app.js" type="text/javascript"></script>
        <script src="/app-assets/js/scripts/customizer.min.js" type="text/javascript"></script>
        <script src="/app-assets/vendors/js/jquery.sharrre.js" type="text/javascript"></script>
        <!-- END: Theme JS-->

        <!-- BEGIN: Page JS-->
        <%--<script src="/app-assets/js/scripts/pages/dashboard-analytics.js" type="text/javascript"></script>--%>
        <script src="/app-assets/js/scripts/forms/checkbox-radio.js" type="text/javascript"></script>
        <!-- END: Page JS-->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <script>
            $(document).ready(function () {
                var MontarMenu = "";

                MontarMenu += '<li class="nav-item"><a runat="server" href="~/Default.aspx" ><i class="ft-home" style="cursor:pointer;"></i><span class="menu-title" data-i18n="">Início</span></a>';
               <%-- MontarMenu += '<ul class="menu-content">';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~/Default.aspx">Monitor</a></li>';
                MontarMenu += '<%= Roles.IsUserInRole("central_mapa") %>' == 'True' ? '<li><a class="menu-item" runat="server" href="~/Mapa.aspx"><%= Resources.Resource.mapa %></a></li>' : '';
                MontarMenu += '</ul>';--%>
                MontarMenu += '</li>';

                if ('<%= Roles.IsUserInRole("central_mapa") %>' == 'True') {
                    MontarMenu += '<li class="nav-item"><a runat="server" href="~/MapaBeta.aspx" ><i class="ft-map" style="cursor:pointer;"></i><span class="menu-title" data-i18n=""><%= Resources.Resource.mapa %></span></a></li>';
                }

                MontarMenu += '<li class="nav-item has-sub"><a><i class="ft-cpu"></i><span class="menu-title" data-i18n="">Scoot</span></a>';
                MontarMenu += '<ul class="menu-content">';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Scoot\ScootControladores\Default.aspx"><%= Resources.Resource.controladoresScoot %></a></li>';
                MontarMenu += '</ul>';
                MontarMenu += '<ul class="menu-content">';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Scoot\CadastroEstagios\Default.aspx"><%= Resources.Resource.estagio %></a></li>';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Scoot\Entreverdes\Default.aspx"><%= Resources.Resource.entreverdes %></a></li>';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Scoot\Planos\Default.aspx"><%= Resources.Resource.planos %> </a></li>';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Scoot\Agenda\Default.aspx"><%= Resources.Resource.agenda %> </a></li>';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Scoot\ConfiguracoesScoot\DefaultBeta.aspx">Lacos </a></li>';
                MontarMenu += '</ul>';
                MontarMenu += '</li>';

                var central_cadastro = '<%= Roles.IsUserInRole("central_cadastro") %>';
                if (central_cadastro == 'True') {
                    MontarMenu += '<li class="nav-item has-sub"><a><i class="ft-plus"></i><span class="menu-title" data-i18n=""><%= Resources.Resource.cadastros %></span></a>';

                    MontarMenu += '<ul class="menu-content">';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\Produto\CadastroProdutoBeta.aspx"><%= Resources.Resource.produto %></a></li>';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\Materiais\DefaultOmega.aspx"><%= Resources.Resource.Materiais %></a></li>';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\Areas\AreaSubArea.aspx"><%= Resources.Resource.areaSubArea %></a></li>';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\Agenda\Default.aspx"><%= Resources.Resource.agenda %></a></li>';


                    var subAreaAgenda = '<%= Resources.Resource.subAreaAgenda %>';
                    var text_subAreaAgenda = subAreaAgenda;
                    if (subAreaAgenda.toString().length > 18) {
                        text_subAreaAgenda = subAreaAgenda.substring(0, 18) + '<br/>' + subAreaAgenda.substring(18);
                    }

                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\AgendaSubAreas\Default.aspx">' + text_subAreaAgenda + '</a></li>';
                    MontarMenu += '<%= Roles.IsUserInRole("central_prefeitura") %>' == 'True' ? '<li><a class="menu-item" runat="server" href="~\Admin\CityHall\DefaultBeta.aspx"><%= Resources.Resource.prefeitura %></a></li>' : '';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\Controller\Default.aspx"><%= Resources.Resource.controlador %></a> </li>';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\Corredor\Cronologia.aspx"><%= Resources.Resource.corredor %></a></li>';
                    MontarMenu += '</ul>';
                    MontarMenu += '</li>';
                     //MontarMenu += '<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= Resources.Resource.cadastros %><b class="caret"></b></a>';
                }

                var central_user = '<%= Roles.IsUserInRole("central_user") %>';
                if (central_user == 'True') {
                    MontarMenu += '<li class="nav-item has-sub"><a><i class="ft-users"></i><span class="menu-title" data-i18n=""><%= Resources.Resource.usuario %></span></a>';
                    MontarMenu += '<ul class="menu-content">';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Admin\Users\DefaultBeta.aspx"><%= Resources.Resource.cadastroUsuario %></a></li>';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Admin\Users\PermissoesUsers.aspx"><%= Resources.Resource.usuariosPermissoes %></a></li>';
                    MontarMenu += '</ul>';
                    MontarMenu += '</li>';
                }

                if ('<%= Roles.IsUserInRole("central_relatorios") %>' == 'True') {

                    MontarMenu += '<li class="nav-item has-sub"><a><i class="ft-pie-chart"></i><span class="menu-title" data-i18n=""><%= Resources.Resource.relatorios %></span></a>';
                    MontarMenu += '<ul class="menu-content">';
                    MontarMenu += '<li class="navigation-divider"></li>';

                    if ('<%= Roles.IsUserInRole("central_logs") %>' == 'True') {
                        MontarMenu += '<li><a class="menu-item" runat="server" href="~\Relatorios\Logs\Default.aspx">Logs</a></li>';
                    }

                    MontarMenu += '</ul>';
                    MontarMenu += '</li>';
                }

                MontarMenu += '<li class="nav-item has-sub"><a><i class="ft-settings"></i><span class="menu-title" data-i18n=""><%= Resources.Resource.configuracoes %></span></a>';
                MontarMenu += '<ul class="menu-content">';
                MontarMenu += '<li class="navigation-divider"></li>';
                MontarMenu += '<li><a class="menu-item" runat="server" href="~\Admin\Map\MapConfig.aspx"><%= Resources.Resource.mapa %></a></li>';

                if ('<%= Roles.IsUserInRole("central_programadorconfig") %>' == 'True') {

                    var programador = '<%= Resources.Resource.programadorSemaforico %>';
                    var text_programador = programador;
                    if (programador.toString().length > 12) {
                        text_programador = programador.substring(0, 12) + '<br/>' + programador.substring(12);
                    }

                    MontarMenu += '<li class="has-sub"><a class="menu-item" href="#">' + text_programador + '</a>';
                    MontarMenu += '<ul class="menu-content">';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\ProgramadorSemanforico\Usuarios.aspx"><%= Resources.Resource.usuario %></a></li>';
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\ProgramadorSemanforico\Versao.aspx"><%= Resources.Resource.versao %></a></li>';
                    MontarMenu += '</ul>';
                    MontarMenu += '</li>';

                }

                if ('<%= Roles.IsUserInRole("central_HorarioVerao") %>' == 'True') {
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Admin\HorarioVerao\Default.aspx"><%= Resources.Resource.horarioVerao %></a></li>';
                }

                if (central_cadastro == 'True') {
                    var moduloDeComunicacao = '<%= Resources.Resource.moduloDeComunicacao %>';
                    var text_moduloDeComunicacao = moduloDeComunicacao;
                    if (moduloDeComunicacao.toString().length > 10) {
                        text_moduloDeComunicacao = moduloDeComunicacao.substring(0, 10) + '<br/>' + moduloDeComunicacao.substring(10);
                    }
                    MontarMenu += '<li><a class="menu-item" runat="server" href="~\Register\ConfigModuloComunicacao\Default.aspx">' + text_moduloDeComunicacao + '</a></li>';
                }

                MontarMenu += '</ul>';
                MontarMenu += '</li>';

                $('#main-menu-navigation').append(MontarMenu);
            });

        </script>
    </form>

</body>
</html>