.autocomplete {
    position: relative;
    display: inline-block;    
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
